<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Yumster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Yumster Navbar">
        <div class="container">
            <a class="navbar-brand" href="#">Yumster</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems"
                aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarItems">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Recipes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Breakfast</a></li>
                            <li><a class="dropdown-item" href="#">Lunch</a></li>
                            <li><a class="dropdown-item" href="#">Dinner</a></li>
                            <li><a class="dropdown-item" href="#">Snacks</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    <li class="nav-item">
                        {{#if loggedIn}}
                        <a class="nav-link" href="/" tabindex="-1" aria-disabled="true" id="logout">Logout</a>
                        {{else}}
                        <a class="nav-link" href="/login" tabindex="-1" aria-disabled="true">Login</a>
                        {{/if}}
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {{{body}}}
</body>

<script src="/js/bootstrap.bundle.min.js"></script>

</html>