<link rel="stylesheet" href="/css/homePage.css">

<main>
    <div class="p-4 p-md-5 mb-4 text-body-emphasis bg-body-secondary homepage-main-banner-image">
        <div class="col-lg-6 px-0">
            <div class="homepage-main-banner-overlay">
                <h1 class="display-3">Caramel Cream Cheese Cinnamon Rolls</h1>
                <p class="lead my-3">Light and fluffy cinnamon rolls perfect for any occasion! These
                    cinnamon rolls are taken to the next level with a brown butter and caramel cream cheese
                    frosting. This recipe takes about 2.5 hours from start to finish and will make 12
                    cinnamon rolls.</p>
                <p class="lead mb-0"><a href="#" class="btn btn-primary">View Recipe</a></p>
            </div>
        </div>
    </div>
    <div>
        <h1 class="display-4">Recipes</h1>
        <h2 class="display-6">Breakfast</h2>
        {{> recipeCards recipes=recipes}}
        <h2 class="display-6">Lunch</h2>
        {{> recipeCards recipes=recipes}}
        <h2 class="display-6">Dinner</h2>
        {{> recipeCards recipes=recipes}}
        <h2 class="display-6">Snacks</h2>
        {{> recipeCards recipes=recipes}}
    </div>
</main>
