<link rel="stylesheet" href="/css/homePage.css">

<main>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Caramel Cream Cheese Cinnamon Rolls</h1>
            <p>Quick, one pot comfort food that can be made in 25 minutes!</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
</main>