<link rel="stylesheet" href="/css/login.css">

<main>
    <div class="d-flex align-items-center py-4">
        <div class="form-signin w-100 m-auto">
            <form class="login-form text-center">
                <h1 class="h3 mb-3 fw-normal">Login In</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username-login" placeholder="username">
                    <label for="username-login">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password-login" placeholder="passwrod">
                    <label for="password-login">Password</label>
                </div>
                <button id="loginBtn" class="w-100 btn btn-lg btn-primary" type="submit">Login In</button>
            </form>
        </div>
    </div>
</main>

<script src="./js/login.js"></script>