<link rel="stylesheet" href="/css/login.css">

<main>
    <div class="d-flex align-items-center py-4">
        <div class="form-signin w-100 m-auto">
            <form class="signup-form text-center">
                <h1 class="h3 mb-3 fw-normal">Create an Account</h1>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username-signup" placeholder="Username">
                    <label for="username-signup">Username</label>
                </div>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                    <label for="email-signup">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password-signup" placeholder="Password">
                    <label for="password-singup">Password</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Create Account</button>
            </form>
        </div>
    </div>
</main>

<script src="./js/login.js"></script>